@import 'vars';

input,
textarea,
select {
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid $divider-color;
  background: none;
  transition: all .3s ease-out;
  min-width: 190px;

  &:focus {
    outline: none;
    @include theme_colors('secondary', 'input-shadow', A200);
  }

  .dark-theme & {
    color: $dark-primary-text-color;
  }
}

input,
textarea {
  padding: 8px 4px;
}

textarea {
  min-height: 80px;
}

select {
  padding: 8px 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAhklEQVR4Ae3NsQ3CYAxE4VdmA/KvgygQLAtdJgkZhVSmQ8hFLKwr76tP9zAzMytdOFEZnGm6s7MWicHGmysNN3aCyIl8TxC9xJMgDhOD13fz4G8Ty2Fi/rlfmECQENwXCcF9kZDcF4mZNd9rE/L7nEj38kS61yfSvT6R7vWJdK9PdO7NzMw+ihJ379BDyXQAAAAASUVORK5CYII=);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;

  .dark-theme & {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAkElEQVRYhe3NMQ5AQBSEYaUb4DqiEC5L5yQ4CtVYghDrbWzeNjJTT74/ijiO4zjOMRRInJ8MuS9fY0YvJww/YkLpw1eGXyckNn6dTwItjr0kDD+cn+Z7IEYnJZBe+A7x54CcUOClhBL/llDkbQnD94q8JaHNPxL6vDWhyz8S+vwtEYY/E+H4PRGS5ziO4367BVWoJVCALvS5AAAAAElFTkSuQmCC);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) { /* chrome hack */
  select { 
    padding-left: 4px;
  }
}

option {
  color: $primary-text-color;
}

select:invalid,
option:first-child {
  color: gray;

  .dark-theme & {
    color: #bbb;
  }
}

label {
  display: inline-block;
  position: relative;
  margin-top: 12px;
  cursor: pointer;
}

.label__text {
  display: block;
  position: absolute;
  cursor: text;
  top: 6px;
  padding: 0 5px;
  color: gray;
  transition: .3s all ease-out;
  transform-origin: left;

  .dark-theme & {
    color: #bbb;
  }
}

select + .label__text {
  display: block;
  position: absolute;
  top: -18px;
  font-size: 1.2rem;
  padding: 0 4px;
  color: $primary-text-color;
  cursor: pointer;

  .dark-theme & {
    color: $dark-primary-text-color;
  }
}

input:focus + .label__text,
textarea:focus + .label__text {
  transform: translate3d(0,-100%,0) scale(.75);
  @include theme_colors('secondary', 'color', A200);

  .dark-theme & {
    @include theme_colors('secondary', 'color', A200);
  }
}

input.input--has-value + .label__text,
textarea.input--has-value + .label__text {
  color: $primary-text-color;
  transform: translateY(-100%) scale(.75);

  .dark-theme & {
    color: $dark-primary-text-color;
  }
}

input.input--has-value:focus + .label__text,
textarea.input--has-value:focus + .label__text {
  @include theme_colors('secondary', 'color', A200);
}

select:focus + .label__text {
  @include theme_colors('secondary', 'color', A200);
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

input[type="checkbox"] + .label__text {
  position: static;
  color: $primary-text-color;
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border: 2px solid $primary-text-color;
    transition: .2s all ease-out;

    .dark-theme & {
      border-color: $dark-primary-text-color;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border: solid;
    @include theme_colors('secondary', 'border-color', A200);
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 5px;
    left: 6px;
    transition: .2s all ease-out;
    transform: rotate(45deg) scale(0);
  }

  .dark-theme & {
    color: $dark-primary-text-color;
  }
}

input[type="checkbox"]:focus + .label__text,
input[type="checkbox"]:active + .label__text,
input[type="radio"]:focus + .label__text,
input[type="radio"]:active + .label__text {
  transform: none;
  @include theme_colors('secondary', 'color', A200);

  &:before {
    box-shadow: 0px 0px 0px 7px $divider-color;
    @include theme_colors('secondary', 'border-color', A200);

    .dark-theme & {
      box-shadow: 0px 0px 0px 7px $dark-divider-color;
    }
  }

  .dark-theme & {
    @include theme_colors('secondary', 'color', A200);
  }
}

input[type="checkbox"]:checked + .label__text {
  &:before {
    @include theme_colors('secondary', 'border-color', A200);
  }

  &:after {
    transform: rotate(45deg) scale(1);
  }
}

input[type="radio"] + .label__text {
  position: static;
  color: $primary-text-color;
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border: 2px solid $primary-text-color;
    border-radius: 50%;
    transition: .2s all ease-out;

    .dark-theme & {
      border-color: $dark-primary-text-color;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    @include theme_colors('secondary', 'background-color', A200);
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 4px;
    transition: .2s all ease-out;
    transform: scale(0);
  }

  .dark-theme & {
    color: $dark-primary-text-color;
  }
}

input[type="radio"]:checked + .label__text {
  &:before {
    @include theme_colors('secondary', 'border-color', A200);
  }

  &:after {
    transform: scale(1);
  }
}

@supports (-moz-appearance:none) and (display:contents) {
  input[type="checkbox"] + .label__text:after {
    top: 6px;
  }

  input[type="radio"] + .label__text:after {
    top: 7px;
  }
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  border: none;
  @include box_shadow(1);
  @include theme_colors('secondary', 'background-color', A200);
  cursor: pointer;
  transform: translateY(0px);
  transition: background .2s ease-out, color .2s ease-out;

  &:hover {
    @include box_shadow(2);
    transform: translateY(-1px);
    @include theme_colors('secondary', 'background-color', A100);
  }

  &:focus {
    outline: none;
    @include theme_colors('secondary', 'background-color', A100);
  }

  &:active {
    box-shadow: none;
    transform: translateY(1px);
    outline: none;
  }

  &--inverse {
    @include theme_colors('primary', 'background-color', 500);

    &:hover,
    &:focus {
      @include theme_colors('primary', 'background-color', 400);
    }
  }

  &--large {
    padding: 14.5px 40px;
  }

  &--fab {
    padding: 12px;
    border-radius: 50%;
    @include box_shadow(2);
    z-index: 2;

    &:hover {
      @include box_shadow(3);
    }

    &:active {
      @include box_shadow(1);
    }

    i {
      display: block;
    }
  }
}
