@import 'vars';

html { font-size: 62.5%; }

body {
  line-height: $body-line-height;
  font-family: $body-font-family;
  font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  font-family: $heading-font-family;
  font-weight: 300;
}

h1, .type--h1 { font-size: $base-font-px * $type-scale * $type-scale * $type-scale * $type-scale  / 10 + rem; }
h2, .type--h2 { font-size: $base-font-px * $type-scale * $type-scale * $type-scale / 10 + rem; }
h3, .type--h3 { font-size: $base-font-px * $type-scale * $type-scale / 10 + rem; }
h4, .type--h4 { font-size: $base-font-px * $type-scale / 10 + rem; }

.heading--inline {
  display: inline-block;
}

.heading--underline {
  border-bottom: 1px solid;
  @include theme_colors('primary', 'border-color', 500);
  padding-bottom: 2px;
}

small { font-size: 75%; }

strong { font-weight: 700; }

em { font-style: italic; }

input,
textarea,
select,
button {
  font-family: $body-font-family;
  font-size: $body-font-size;
}
