<template>
  <header v-bind:class="{ 'header--hidden': appState.headerHidden }">
    <a href="#" class="header__nav-toggle" v-on:click="toggleNav">
      <i class="header__nav-toggle-icon-closed material-icons">menu</i>
      <i class="header__nav-toggle-icon-open material-icons">arrow_back</i>
    </a>
    <h2 class="type--h3">PWA Skeleton</h2>
  </header>
</template>

<script>
import config from "config.js";
var debounce = require("debounce");

export default {
  methods: {
    toggleNav: function(e) {
      e.preventDefault();
      this.$store.commit("toggleNav");
    },
    handleScroll: function() {
      var newScrollPosition = window.pageYOffset;
      if (newScrollPosition > this.prevScrollPosition) {
        this.$store.commit("hideHeader");
        this.prevScrollPosition = newScrollPosition;
      } else if (newScrollPosition < this.prevScrollPosition) {
        this.$store.commit("showHeader");
        this.prevScrollPosition = newScrollPosition;
      }
    }
  },
  created() {
    window.addEventListener("scroll", debounce(this.handleScroll, 100));
  },
  mounted() {
    this.prevScrollPosition = window.pageYOffset;
  },
  data() {
    return {
      appState: this.$store.state,
      siteName: config.siteName,
      prevScrollPosition: window.pageYOffset
    };
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  @include box_shadow(2);
  text-align: center;
  z-index: 22;
  @include theme_colors("primary", "background-color", 500);
  transition: transform 0.3s ease-out;

  a {
    @include link-on-bg-color("primary", 500);

    .dark-theme & {
      @include link-on-bg-color("primary", 500);
    }
  }
}

@media #{$mobile-breakpoint} {
  .header--hidden {
    transform: translateY(-100%);
  }
}

.header__nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 12px;
  border: 0;

  i {
    display: block;
    transition: 0.3s all ease-out;
  }

  &:hover {
    border: 0;
  }
}

.header__nav-toggle-icon-open {
  position: absolute;
  top: 14px;
  opacity: 0;
}

.nav--open {
  .header__nav-toggle-icon-open {
    opacity: 1;
    transform: rotate(360deg);
  }

  .header__nav-toggle-icon-closed {
    opacity: 0;
    transform: rotate(360deg);
  }
}
</style>
